.menu {
  width: 218px;
  height: 1047px;
  top: -1px;
  border-radius: 8px;
  margin-left: 16px;
  margin-top: 24px;
  position: fixed;
}

.container {
  width: 596px;
  height: 367px;
  top: 218px;
  left: 518px;
  border-radius: 8px;
}

.rectangle {
  width: 564px;
  height: 258px;
  border-radius: 8px;
  border: 1px;
  background-color: #EBEBEB;
}

.left {
  width: 719.99px;
  height: 1024;
}

.right {
  background-color: #f8faff;
  width: 1000px;
  height: 900;
  justify-content: center;
  align-items: center;
}

.googlebutton {
  width: 197.6px;
  height: 32.93px;
  border-radius: 10px;
  background-color: #ffffff;
}

.submitbutton {
  width: 356.77px;
  height: 43.91px;
  border-radius: 10px;
  background-color: #605bff;
}

.disable {
  width: 356.77px;
  height: 43.91px;
  border-radius: 10px;
  background-color: #605BFF;
  opacity: 40%;
}

.form {
  border: #999999;
  border-radius: 1px;
}

.title {
  font-style: "Montserrat";
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
  color: #000000;
}

.label {
  font-style: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #000000;
}

.placeholder {
  font-style: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: #858585;
}

.inputs {
  width: 356.77px;
  height: 43.91px;
  border-radius: 10px;
  background-color: #eaeaea;
  align-items: center;
  padding: 16px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
